@keyframes movethis {
	0{
		transform: translateX(-50%)
		translateY(-50%) rotate(0deg)
	}
	100%{
		transform: translateX(-50%)
		translateY(-50%) rotate(35deg)
	}
}

html {
  
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 45, 75, 0)), to(rgba(0, 0, 0, 0.6))), url("images/cover.jpeg");
  background-image: linear-gradient(to top, rgba(0, 45, 75, 0), rgba(0, 0, 0, 0.6)), url("pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}



#a{
	color: #EAF0F1;
	font-size: 80px;
	text-decoration: none;
	letter-spacing: -2px;
	position: absolute;
	top: 19%;
	left: 50%;
}
	#b{
	color: #EAF0F1;
	font-size: 30px;
	text-decoration: none;
	letter-spacing: -2px;
	position: absolute;
	top: 58%;
	left: 50%;
}

#a:before,
#a:after{
	content: "";
	padding: 0.8em 0.4em;
	border: 15px solid #74B9FF;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	display: block;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
	animation: 3s infinite alternate ease-in-out movethis;
}

#image{
	position: absolute;
	top: 30%;
	left: 10%;
 }
 #social{
	position: absolute;
top: 85%;
left: 50%;

}
